<?xml version="1.0" encoding="UTF-8"?>
<atv>
    <head>
        <script src="http://jcathost.dns/js/jcm.js"/>
        <script src="http://jcathost.dns/js/settingloader.js"/>
    </head>
    <body>
        <listWithPreview id="com.jellycat.settings">
            <header>
                <simpleHeader accessibilityLabel="Simple menu items">
                    <image required="true">http://jcathost.dns/assets/img/jcsettings.png</image>
                </simpleHeader>
            </header>
            <preview>
                <crossFadePreview>
                    <image>http://jcathost.dns/assets/img/jcprev.png</image>
                </crossFadePreview>
            </preview>
            <menu>
                <sections>
                    <menuSection>
                        <header>
                            <horizontalDivider alignment="center" accessibilityLabel="Centered section">
                                <title>JellyfinAPI Settings</title>
                            </horizontalDivider>
                        </header>
                        <items>
                            <twoLineMenuItem id="list_center_1" accessibilityLabel="Menu Item 1" onSelect="loadServerSettings();">
                                <label>Jellyfin Server Settings</label>
                                <label2>Set Jellyfin Server and User</label2>
                                <image>http://jcathost.dns/assets/img/jfserver.png</image>
                            </twoLineMenuItem>
                            <oneLineMenuItem id="list_center_2" accessibilityLabel="Menu Item 2">
                                <label>Audio and Video settings</label>
                            </oneLineMenuItem>
                            <oneLineMenuItem id="list_center_3" accessibilityLabel="Menu Item 3">
                                <label>Advanced settings</label>
                            </oneLineMenuItem>
                        </items>
                    </menuSection>
                    <menuSection>
                        <header>
                            <horizontalDivider alignment="center" accessibilityLabel="Centered section">
                                <title>JellyCAT APP Settings</title>
                            </horizontalDivider>
                        </header>
                        <items>
                            <oneLineMenuItem id="list_center_1" accessibilityLabel="tools" onSelect="atvutils.loadURL('https://' + atv.jcathost.SigHost + '/xml/dvt/devtools.xml');">
                                <label>Tools</label>
                            </oneLineMenuItem>
                            <oneLineMenuItem id="list_center_1" accessibilityLabel="about" onSelect="loadAbout()">
                                <label>About</label>
                            </oneLineMenuItem>
                            <oneLineMenuItem id="list_center_1" accessibilityLabel="about" onSelect="atvutils.loadURL('https://' + atv.jcathost.SigHost + '/xml/help.xml');">
                                <label>Help</label>
                            </oneLineMenuItem>
                            <oneLineMenuItem id="list_center_2" accessibilityLabel="exit app" onSelect="atv.exitApp();">
                                <label>Exit App</label>
                            </oneLineMenuItem>
                        </items>
                    </menuSection>
                </sections>
            </menu>
        </listWithPreview>
    </body>
</atv>